/* box start */
*{
    font-family: Microsoft JhengHei;
}

.box {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 30px 20px;
    background: url(../images/body.jpg)no-repeat top center / cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.left {
    max-width: 400px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left a {
    color: #fff;
}

.left .logo {
    width: 100%;
    margin-bottom: 40px;
}

.btn {
    width: 350px;
    height: 82px;
    margin-bottom: 15px;
    font-size: 28px;
    background: url(../images/button.png)no-repeat center / cover;
    display: flex;
    align-items: center;
}

.btn.style2{
    font-size: 22px;
    background: url(../images/button-02.png)no-repeat center / cover;
    line-height: 1.8rem;
    cursor: pointer;
}   

.btn span {
    width: 100%;
    padding-left: 25%;
    padding-right: 6%;
    text-align: center;
}

.right .main {
    max-width: 1000px;
    margin: auto;
}

/* ========== rwd ========== */

@media screen and (max-width: 1150px) {
    .box {
        flex-direction: column;
    }
    .left {
        max-width: 350px;
    }
    .left .logo {
        margin-bottom: 20px;
    }
    .btn {
        width: 300px;
        height: 70px;
        font-size: 24px;
    }
    .btn.style2 {
        font-size: 20px;
        line-height: 1.4rem;
    }
    .right .main {
        max-width: 800px;
    }
}

@media screen and (max-width: 450px) {
    .left {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .left .logo {
        margin-bottom: 30px;
    }
    
    .left a{
        width: 95%;
    }

    .left a .btn{
        width: 100%;
        height: 15.6vw;
        font-size: 5.5vw;
    }

    .btn.style2 {
        width: 95%;
        height: 15.6vw;
        flex-shrink: 0;
        font-size: 4vw;
        line-height: 5vw;
    }

    .btn span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }


    .right .main {
        max-width: 450px;
    }
}